@model User

<h1>Login</h1>
<form method="post">
    <input asp-for="Username" type="text" placeholder="Username..."/>
    <input asp-for="Password" type="password" placeholder="Password..."/>
    <button type="submit" class="btn-primary">Login</button>
</form>
